{% extends 'base.html.twig' %}

{% block title %}Stocks index{% endblock %}

{% block main %}
    <h1>Stocks index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Produit</th>
                <th>Unité</th>
                <th>Qantité</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.id }}</td>
                <td>{{ stock.products.name }}</td>
                <td>{{ stock.units.name }}</td>
                <td>{{ stock.qty }}</td>
                <td>{{ stock.price }}</td>
                <td>
                    <a href="{{ path('stocks_show', {'id': stock.id}) }}">show</a>
                    <a href="{{ path('stocks_edit', {'id': stock.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('stocks_new') }}">Create new</a>
{% endblock %}
